.table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 95%;
}
.td {
    border: 1px solid white;
    color: #ffff;
    padding: 8px;
}
.hackers{
    height: 30px;
    width: 40px;
}
.about_btn {
    display: inline-flex;
    width: 140px;
    height: 80px;
    line-height: 30px;
    flex-direction: row;
    background: #0aae02;
    color: #fff;
    padding: 12px 12px 12px;
    border-radius: 7px;
    cursor: pointer;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
  }